.citrus_vetdiet_tab_controls_cat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
}

.citrus_vetdiet_tab_controls_cat .splide__arrow--next {
    right: 0px;
}

.citrus_vetdiet_tab_controls_cat .splide__arrow--prev {
    left: 2px;
    opacity: 0 !important;
}

.citrus_vetdiet_tab_controls_cat .splide__arrow svg {
    fill: #122359;
}

.citrus_vetdiet_tab_controls_cat .splide__arrow {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    background: transparent;
    border: 1px solid #122359;
    border-radius: 50%;
    cursor: pointer;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    height: 3.2em;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 1;
    padding: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 3.2em;
    z-index: 1;
}

.citrus_vetdiet_cat_tab_item.citrusTabshow {
    display: block;
}

.citrus_vetdiet_cat_tab_item {
    display: none;
}